---
import Layout from '../layouts/Layout.astro';
import Post from "../components/Post.astro"
---

<Layout title="Aprende Conmigo.dev">
	<div class="posts flex flex-col gap-4">
		<Post />
	</div>
</Layout>