---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Un blog hecho para la curiosidad y el aprendizaje. Programación, frameworks y librerías de JavaScript especialmente."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "AprendeConmigo.dev"}</title>
  </head>
  <body class="flex flex-col justify-between gap-4">
    <Header />
    <main class="text-center flex flex-col gap-4 p-8">
        <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:inline>
  h1 {
    font-size: 2rem;
  }
  h2{
    font-size: 1.6rem;
  }
  p {
    font-size: 1.1rem;
    align-self: flex-start;
    text-align: justify;
  }
</style>